<nav></nav>
<main>
    <h1>サービス内容の編集</h1>
    <div class="contents">
        <div class="edit_form">
        <%= form_for @service, url: service_path(@service.id) do |f| %>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <%= f.text_field :name, class: "form-control form_elements" %>
          </div>
          <div class="form-group">
            <p for="exampleFormControlSelect1">Example select</p>
            <%= f.collection_select :category_id, Category.all, :id, :name, {}, class: "form_select" %>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <%= f.number_field :price, class: "form-control form_elements" %> 
          </div>
          <%= f.submit "登録する", class: "btn btn-danger btn-lg btn-block ", style: "width:25%; margin:0 auto;"%>
        <% end %>
        </div>
    </div>
</main>
<aside></aside>