<nav></nav>
<main>
    <h1>寿デイのサービス一覧</h1>
    <div class="service_contents">
        <%= link_to new_service_path do %>
            <input type="submit" value="新しいサービスを追加" class="btn btn-success">
        <% end %>
        <table>
            <tr>
                <th class="initial_column">サービス名</th><th>単価</th>
            </tr>
            <% @services.each do |service|%>
                <tr>
                    <td><%= service.name %></td><td>
                        <%= service.price%>
                        <%= link_to "削除", service_path(service.id), method: :delete, style: "float:right; padding-left:20px;"  %>
                        <%= link_to "編集", edit_service_path(service.id), style: "float:right;" %> 
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</main>
<aside></aside>